server/node_modules/
server/.env
server/package-lock.json
client/node_modules/
client/package-lock.json
node_modules/
package-lock.json
# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# WhatsApp auth session files
.wwebjs_auth/
tokens/

# Ignore all files in server/taken/
server/taken/*

# Optional: ignore build/dist folders if you're compiling
dist/
build/
